.idea/
.ipynb_checkpoints/
__pycache__/
.editorconfig

FSIM_*
resource
plots

.DS_Store
*.csv
._.DS_Store

*.json
*.log
*.pt
*.pth
writers_logs_*
*.txt

*epochs*
ckpt*

FSIM_N_*
FSIM_W_*

*epochs*



